<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easedroid.demos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".list.exo.ExoPlayerActivity"
            android:theme="@style/FullScreenTheme" />
        <activity android:name=".system.SystemInfoActivity" />
        <activity android:name=".system.NaviBarActivity" />
        <activity
            android:name=".TVScreenAdaptiveActivity"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".system.ScreenOrientationActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".system.ScreenOrientationActivityV2"
            android:configChanges="orientation" />
    </application>

</manifest>